
// MuseoSansCyrl
@font-face {
	font-family: 'MuseoSansCyrl';
	src: url('/assets/fonts/MuseoSansCyrl/MuseoSansCyrl100.eot');
  src: local('☺'),
       url('/assets/fonts/MuseoSansCyrl/MuseoSansCyrl100.woff') format('woff'),
       url('/assets/fonts/MuseoSansCyrl/MuseoSansCyrl100.ttf') format('truetype'),
       url('/assets/fonts/MuseoSansCyrl/MuseoSansCyrl100.svg') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'MuseoSansCyrl';
	src: url('/assets/fonts/MuseoSansCyrl/MuseoSansCyrl300.eot');
  src: local('☺'),
       url('/assets/fonts/MuseoSansCyrl/MuseoSansCyrl300.woff') format('woff'),
       url('/assets/fonts/MuseoSansCyrl/MuseoSansCyrl300.ttf') format('truetype'),
       url('/assets/fonts/MuseoSansCyrl/MuseoSansCyrl300.svg') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'MuseoSansCyrl';
	src: url('/assets/fonts/MuseoSansCyrl/MuseoSansCyrl500.eot');
  src: local('☺'),
       url('/assets/fonts/MuseoSansCyrl/MuseoSansCyrl500.woff') format('woff'),
       url('/assets/fonts/MuseoSansCyrl/MuseoSansCyrl500.ttf') format('truetype'),
       url('/assets/fonts/MuseoSansCyrl/MuseoSansCyrl500.svg') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'MuseoSansCyrl';
	src: url('/assets/fonts/MuseoSansCyrl/MuseoSansCyrl700.eot');
  src: local('☺'),
       url('/assets/fonts/MuseoSansCyrl/MuseoSansCyrl700.woff') format('woff'),
       url('/assets/fonts/MuseoSansCyrl/MuseoSansCyrl700.ttf') format('truetype'),
       url('/assets/fonts/MuseoSansCyrl/MuseoSansCyrl700.svg') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'MuseoSansCyrl';
	src: url('/assets/fonts/MuseoSansCyrl/MuseoSansCyrl900.eot');
  src: local('☺'),
       url('/assets/fonts/MuseoSansCyrl/MuseoSansCyrl900.woff') format('woff'),
       url('/assets/fonts/MuseoSansCyrl/MuseoSansCyrl900.ttf') format('truetype'),
       url('/assets/fonts/MuseoSansCyrl/MuseoSansCyrl900.svg') format('svg');
	font-weight: 100;
	font-style: normal;
}